[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plaidml-keras = "*"
numpy = "*"
scikit-learn = "0.21.2"
tensorflow = "*"
keras = "*"
tensorflow-addons = "*"
tensorflow-estimator = "2.6.0"
matplotlib = "*"
imbalanced-learn = "*"
gensim = "*"
pandas = "*"
transformers = "*"
torch = "*"
nltk = "*"
unidecode = "*"
dask = "*"
seaborn = "*"
sentencepiece = "*"
simpletransformers = "*"
datasets = "*"
nlpaug = "*"
sacremoses = "*"
stanfordnlp = "*"

[dev-packages]
black = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
