[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plaidml-keras = "*"
numpy = "*"
scikit-learn = "0.21.2"
tensorflow = "*"
tensorflow-addons = "*"
tensorflow-estimator = "2.6.0"
matplotlib = "*"
imbalanced-learn = "*"
gensim = "*"
pandas = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
nltk = "*"
unidecode = "*"
dask = "*"
seaborn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
